window {
    background: #131515; /* base01 */
    border-color: #393939; /* base02 */
    border: 2px solid #393939;
}

button,
image {
    color: #F1E4C2; /* base07 */
}

button {
    color: #e5d5b1; /* base05 */
    padding: 3px;
}

button:hover {
    background-color: rgba(57, 57, 57, 0.5); /* base02 */
}
