@define-color selected-text #F1E4C2;
@define-color selected-vibrant #CA4F5A;
@define-color text #F1E4C2;
@define-color base #131515;
@define-color border #1D1F1E;
@define-color foreground #F1E4C2;
@define-color background #131515;

/* Rounded Corners */
.box-wrapper {
    border-radius: 10px;
}

/* Drop Shadow */
.box-wrapper {
    box-shadow:
        0 0 5px rgba(0, 0, 0, 0.5),
        0 0 5px rgba(0, 0, 0, 0.5);
}

/* Selected Item Styling */
child:selected {
    border-radius: 8px;
    background-color: mix(black, @background, 0.875);
    transition: all 0.15s ease-out;
    transition: background-color 0s ease-out;
    box-shadow:
        0 0 3px rgba(0, 0, 0, 0.2),
        0 0 3px rgba(0, 0, 0, 0.2);
}
child:selected .item-box {
    transition: all 0.05s ease-out;
    margin-left: 4px;
}

/* Revert Selected Item Color */
child:selected .item-box * {
    color: @text;
}

/* Transparent Search Bar */
.search-container {
    background-color: transparent;
}
