@define-color background #131515;
@define-color foreground #F1E4C2;

@define-color color0 #131515;
@define-color color1 #131515;
@define-color color2 #131515;
@define-color color3 #e5d5b1;
@define-color color4 #F1E4C2;
@define-color color5 #F1E4C2;
@define-color color6 #F1E4C2;
@define-color color7 #F1E4C2;
@define-color color8 #f16e65;
@define-color color9 #ef944d;
@define-color color10 #efbe71;
@define-color color11 #b6c36f;
@define-color color12 #8ecd84;
@define-color color13 #a5cab8;
@define-color color14 #e9869a;
@define-color color15 #eb7a73;
