:root {
--color00: #131515;
--color01: #131515;
--color02: #131515;
--color03: #e5d5b1;
--color04: #F1E4C2;
--color05: #F1E4C2;
--color06: #F1E4C2;
--color07: #F1E4C2;
--color08: #f16e65;
--color09: #ef944d;
--color0A: #efbe71;
--color0B: #b6c36f;
--color0C: #8ecd84;
--color0D: #a5cab8;
--color0E: #e9869a;
--color0F: #eb7a73;
}
